# Cerbro-Cardiovascular Disease Risk Prediction in Hypertension : Using Nationwide Claim data [1] 데이터 전처리
## 빅데이터 마이닝 2031634 통계학과 노혜림

## study population 의 청구서들을 추출해내는 코드 (SAS)

```
PROC DATASETS KILL;QUIT;
OPTION VALIDVARNAME=ANY;
LIBNAME S "C:\NHIS-HEALS";
```
### Step 1: POPULATION 만들기
```
/* 고혈압 진단자 */
PROC SORT DATA=S.gy40   OUT=HTN(KEEP=KEY_SEQ) NODUPKEY ;
BY KEY_SEQ;
WHERE SUBSTR(SICK_SYM, 1, 3) IN ("I10" "I11" "I12" "I13" "I15") AND SICK_DIV_TYPE_CD^="3" ; 
RUN;

/* 고혈압 약 처방 받은 사람 */
PROC SORT DATA=S.gy30(KEEP=KEY_SEQ GNL_NM_CD) OUT=HTN_drug1 (KEEP=KEY_SEQ) NODUPKEY;
BY KEY_SEQ;
WHERE GNL_NM_CD in ( "110201ATB" "110202ATB" "104201ATB" "104202ATB" "107601ATB" "107602ATB" "107603ATB" "114001ACH" "114002ACH"
"114003ACH" "115101ATB" "115102ATB" "115103ATB" "115104ATB" "122601ATB" "122602ATB" "122603ATB" "122901ATB"
"122902ATB" "122903ATB" "125001ATB" "125002ATB" "125003ATB" "125004ACR" "125005ATB" "125006ACR" "125007ACR"
"125008ACR" "133001ATB" "133002ATB" "133003ATB" "133101ATB" "133102ATB" "151601ATB" "151603ATB" "157501ATR"
"157503ATR" "173401ATB" "173402ATB" "177301ATB" "177303ATB" "180301ATB" "180302ATB" "180303ATB" "182001ATB"
"184501ATB" "185701ATB" "185702ATB" "188001ATB" "188002ATB" "201003ACR" "211301ATB" "211302ATB" "222401ATB"
"222402ATB" "222404ATB" "247101ATB" "247102ATB" "247103ATB" "247104ATB" "262500ATB" "378900ATB" "486900ATB"
"356400ATB" "442600ATB" "378801ATB" "378802ATB" "385700ATB" "385800ATB" "423700ATB" "429201ATB" "443200ATB"
"443300ATB" "502600ATB" "459801ATB" "459801ACH" "459802ACH" "459901ATB" "460500ATB" "464601ATB" "468501ATB"
"468502ATB" "468503ATB" "470801ATB" "470802ATB" "476201ATB" "479701ATB" "483201ATB" "483202ATB" "486501ATB"
"486502ATB" "492800ATB" "492900ATB" "495800ATB" "500500ATB" "582200ATB" "582400ATB" "501601ATB" "501602ATB"
"502700ATB" "503000ATB" "513900ATB" "510401ATB" "510402ATB" "510403ATB" "511500ATB" "511600ATB" "511700ATB"
"623100ATB" "513600ATB" "515201ATB" "515202ATB" "515203ATB" "521200ATB" "521300ATB" "521400ATB" "644800ATB"
"522000ATB" "526800ATB" "522200ATB" "522300ATB" "522400ATB" "522600ATB" "522700ATB" "522800ATB" "522900ATB"
"523000ATB" "523100ATB" "523200ATB" "523300ATB" "523400ATB" "547500ATB" "547600ATB" "547700ATB" "547800ATB"
"547900ATB" "548000ATB" "631300ATB" "629400ATB" "629500ATB" "629600ATB" "632800ATB" "632900ATB" "633000ATB"
"637400ATB" "637500ATB" "637600ATB" "651900ATB" "652000ATB" "652100ATB" "652700ATB" "652900ATB" "653000ATB"
"653100ATB" "662201ATB" "662202ATB" "662401ATB" "662402ATB" "662403ATB" "673500ATB" "673600ATB" "201405ATR"
"201407ACS" "201409ATR" "201901ATB" "356202ATR" "356203ATR" "441201ATB" "441202ATB" "528201ATR" "528202ATR"
"104803ATR" "234601ATD" "234601ATR" "234601ACR" "234603ATD" "234603ACR" "235501ATB" "235502ATB" "235503ATB"
"504202ACH" "504202ATB" "504203ACH" "504203ATD" "614201ATB" "614202ATB" "614203ATB" "180230BIJ" "180231BIJ"
"201030BIJ" "201031BIJ" "201033BIJ" "201930BIJ"); RUN;

PROC SORT DATA=S.gy60(KEEP=KEY_SEQ GNL_NM_CD) OUT=HTN_drug2 (KEEP=KEY_SEQ) NODUPKEY;
BY KEY_SEQ;
WHERE GNL_NM_CD in ( "110201ATB" "110202ATB" "104201ATB" "104202ATB" "107601ATB" "107602ATB" "107603ATB" "114001ACH" "114002ACH"
"114003ACH" "115101ATB" "115102ATB" "115103ATB" "115104ATB" "122601ATB" "122602ATB" "122603ATB" "122901ATB"
"122902ATB" "122903ATB" "125001ATB" "125002ATB" "125003ATB" "125004ACR" "125005ATB" "125006ACR" "125007ACR"
"125008ACR" "133001ATB" "133002ATB" "133003ATB" "133101ATB" "133102ATB" "151601ATB" "151603ATB" "157501ATR"
"157503ATR" "173401ATB" "173402ATB" "177301ATB" "177303ATB" "180301ATB" "180302ATB" "180303ATB" "182001ATB"
"184501ATB" "185701ATB" "185702ATB" "188001ATB" "188002ATB" "201003ACR" "211301ATB" "211302ATB" "222401ATB"
"222402ATB" "222404ATB" "247101ATB" "247102ATB" "247103ATB" "247104ATB" "262500ATB" "378900ATB" "486900ATB"
"356400ATB" "442600ATB" "378801ATB" "378802ATB" "385700ATB" "385800ATB" "423700ATB" "429201ATB" "443200ATB"
"443300ATB" "502600ATB" "459801ATB" "459801ACH" "459802ACH" "459901ATB" "460500ATB" "464601ATB" "468501ATB"
"468502ATB" "468503ATB" "470801ATB" "470802ATB" "476201ATB" "479701ATB" "483201ATB" "483202ATB" "486501ATB"
"486502ATB" "492800ATB" "492900ATB" "495800ATB" "500500ATB" "582200ATB" "582400ATB" "501601ATB" "501602ATB"
"502700ATB" "503000ATB" "513900ATB" "510401ATB" "510402ATB" "510403ATB" "511500ATB" "511600ATB" "511700ATB"
"623100ATB" "513600ATB" "515201ATB" "515202ATB" "515203ATB" "521200ATB" "521300ATB" "521400ATB" "644800ATB"
"522000ATB" "526800ATB" "522200ATB" "522300ATB" "522400ATB" "522600ATB" "522700ATB" "522800ATB" "522900ATB"
"523000ATB" "523100ATB" "523200ATB" "523300ATB" "523400ATB" "547500ATB" "547600ATB" "547700ATB" "547800ATB"
"547900ATB" "548000ATB" "631300ATB" "629400ATB" "629500ATB" "629600ATB" "632800ATB" "632900ATB" "633000ATB"
"637400ATB" "637500ATB" "637600ATB" "651900ATB" "652000ATB" "652100ATB" "652700ATB" "652900ATB" "653000ATB"
"653100ATB" "662201ATB" "662202ATB" "662401ATB" "662402ATB" "662403ATB" "673500ATB" "673600ATB" "201405ATR"
"201407ACS" "201409ATR" "201901ATB" "356202ATR" "356203ATR" "441201ATB" "441202ATB" "528201ATR" "528202ATR"
"104803ATR" "234601ATD" "234601ATR" "234601ACR" "234603ATD" "234603ACR" "235501ATB" "235502ATB" "235503ATB"
"504202ACH" "504202ATB" "504203ACH" "504203ATD" "614201ATB" "614202ATB" "614203ATB" "180230BIJ" "180231BIJ"
"201030BIJ" "201031BIJ" "201033BIJ" "201930BIJ"); RUN;

DATA HTN_drug;
MERGE HTN_drug1 HTN_drug2 ;
BY KEY_SEQ; RUN;

/* 고혈압 진단자와 고혈압 약 처방자를 merge */  
DATA HTN_Final;
MERGE HTN_drug HTN ;
BY KEY_SEQ; RUN;

PROC SORT DATA=S.gy20 OUT=gy20 NODUPKEY;
BY KEY_SEQ;
RUN;

DATA HTN_Final;
MERGE HTN_Final(KEEP=KEY_SEQ IN=IN1) gy20(IN=IN2 KEEP=PERSON_ID RECU_FR_DT KEY_SEQ);
BY KEY_SEQ;
IF IN1 AND IN2 ;RUN;

PROC SORT DATA=HTN_Final NODUPKEY; BY PERSON_ID RECU_FR_DT;RUN;
PROC SORT DATA=HTN_Final NODUPKEY; BY PERSON_ID ;RUN;

DATA HTN_Final;
SET HTN_Final;
FORMAT HTN_DT YYMMDD10.;
HTN_DT = INPUT(RECU_FR_DT, YYMMDD10.);
RUN;

PROC SORT DATA=HTN_Final OUT=POP_HTN NODUPKEY;
BY PERSON_ID;
WHERE SUBSTR(RECU_FR_DT, 1, 4) IN ('2004' '2005' '2006' '2007' '2008' '2009' '2010') ;
RUN;
```
### Cerbro,Cardio-vascular

```
PROC SORT DATA=S.gy40 OUT=CVD NODUPKEY;
BY KEY_SEQ;
WHERE (SUBSTR(SICK_SYM, 1, 3) IN ('I20' 'I21' 'I22' 'I23' 'I24' 'I25') OR SUBSTR(SICK_SYM, 1, 2) IN ('I6')) AND SICK_DIV_TYPE_CD^='3';RUN;

PROC SORT DATA=S.gy20 OUT=gy20 NODUPKEY;
BY KEY_SEQ;
WHERE FORM_CD='02' AND VSCN>=2; RUN;

DATA CVD;
MERGE CVD(KEEP=KEY_SEQ IN=IN1) gy20(IN=IN2 KEEP=PERSON_ID RECU_FR_DT KEY_SEQ);
BY KEY_SEQ;
IF IN1 AND IN2;RUN;

PROC SORT DATA=CVD NODUPKEY;BY PERSON_ID RECU_FR_DT;RUN;
PROC SORT DATA=CVD NODUPKEY;BY PERSON_ID ;RUN;

DATA CVD; SET CVD ;
FORMAT CVD_DT YYMMDD10.;
CVD_DT = INPUT(RECU_FR_DT, YYMMDD10. );
RUN;

/** before diagsnosis or prescription of Hypertension, CVD event가 발생 환자는 제외 **/
DATA POP_FINAL;
MERGE POP_HTN (IN=IN1) CVD (KEEP=PERSON_ID CVD_DT);
BY PERSON_ID;
IF IN1;
IF .< CVD_DT <=INPUT(RECU_FR_DT, YYMMDD10.) THEN DELETE; RUN;

```

### Step 2: 건강검진 데이터와 인구 정보 데이터 연결

```
/* 건강검진 정보 */
PROC SORT DATA=S.GJ1 OUT=GJ NODUPKEY;
BY PERSON_ID HME_DT;
WHERE SUBSTR(HME_DT, 1, 4) IN ('2004' '2005' '2006' '2007' '2008') ;
RUN;

PROC SORT DATA=GJ (KEEP = PERSON_ID BMI BLDS TOT_CHOLE HCHK_PMH_CD1 HCHK_PMH_CD2 HCHK_PMH_CD3 SMK_STAT_TYPE_RSPS_CD DRNK_HABIT_RSPS_CD ) NODUPKEY;
BY PERSON_ID ;
RUN;

/* 인구학적 정보 */
PROC SORT DATA=S.JK OUT=Demographic NODUPKEY;
BY PERSON_ID AGE ; 
WHERE STND_Y in ('2004' '2005' '2006' '2007' '2008') ; RUN;

/** Demographic **/
PROC SORT DATA=Demographic (KEEP = PERSON_ID AGE SEX IPSN_TYPE_CD CTRB_PT_TYPE_CD) NODUPKEY;
BY PERSON_ID ; RUN;

/* 연결 */
DATA POP_FINAL2;
MERGE POP_FINAL (IN=IN1) GJ (IN=IN2);
BY PERSON_ID; IF IN1; RUN;

/* 연결 */
DATA S.POP_FINAL2;
MERGE POP_FINAL2 (IN=IN1) Demographic (IN=IN2);
BY PERSON_ID; IF IN1 AND IN2 ; RUN;

PROC SORT DATA = S.POP_FINAL2 OUT = S.PATIENTS (KEEP=PERSON_ID CVD_DT HTN_DT)  NODUPKEY;
BY PERSON_ID ; RUN;

```
### Step 3: 최종 분석에 사용할 파일
 - Step 2 에서 만든 건강검진 정보의 DB (POP_FINAL2)
 - visit1 : Hypertension 환자군의 gy20
 - visit2 : Hypertension 환자군의 gy30
 - visit3 : Hypertension 환자군의 gy60

```
/* gy20 : 명세서 일반 내역 
   gy30 : 진료 내역
   gy40 : 상병 내역
   gy60 : 처방전 세부 내역 */
PROC SORT DATA = S.gy20 OUT = VISIT1;
BY PERSON_ID KEY_SEQ ; RUN;
PROC SORT DATA = S.gy30 OUT = VISIT2;
BY PERSON_ID KEY_SEQ ; RUN;

PROC SORT DATA = S.gy60 OUT = VISIT3;
BY PERSON_ID KEY_SEQ ; RUN;

DATA S.VISIT1(KEEP=PERSON_ID KEY_SEQ RECU_FR_DT FORM_CD MAIN_SICK SUB_SICK) ;
MERGE VISIT1(IN=IN1) S.PATIENTS (IN=IN2);
IF .< RECU_FR_DT < HTN_DT THEN DELETE;
IF CVD_DT ^= . THEN IF CVD_DT < RECU_FR_DT THEN DELETE;
BY PERSON_ID; IF IN2; RUN;
 
DATA S.VISIT2(KEEP=PERSON_ID KEY_SEQ RECU_FR_DT DIV_CD GNL_NM_CD);
MERGE VISIT2(IN=IN1) S.PATIENTS (IN=IN2);
IF .< RECU_FR_DT < HTN_DT THEN DELETE;
IF CVD_DT ^= . THEN IF CVD_DT < RECU_FR_DT THEN DELETE;
BY PERSON_ID; IF IN2; RUN;
 
DATA S.VISIT3(KEEP=PERSON_ID KEY_SEQ RECU_FR_DT GNL_NM_CD);
MERGE VISIT3(IN=IN1) S.PATIENTS (IN=IN2);
IF .< RECU_FR_DT < HTN_DT THEN DELETE;
IF CVD_DT ^= . THEN IF CVD_DT < RECU_FR_DT THEN DELETE;
BY PERSON_ID; IF IN2; RUN;
```

In [ ]:
import os
import numpy as np
import pandas as pd

### Gdrive 연결

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

os.chdir('/content/drive/MyDrive/21-1/data/')

Mounted at /content/drive

### Data Load

먼저 pop 데이터는 환자의 인구학적 정보와 건강검진 정보를 가지고 있다.

In [ ]:
pop = pd.read_csv("./POP_FINAL2.csv")
pop.head()

   PERSON_ID      HTN_DT      CVD_DT  ...  AGE  IPSN_TYPE_CD  CTRB_PT_TYPE_CD
0   10221780  2009-11-05           .  ...   81             6               10
1   10244375  2009-05-06  2011-07-04  ...   81             1                1
2   10257488  2005-11-10           .  ...   80             1                2
3   10258046  2008-12-01           .  ...   80             6               10
4   10259027  2009-10-13           .  ...   80             2               10

[5 rows x 11 columns]

 - HTN_DT : Hypertension 첫 진단 일
 - CVD_DT : CVD 첫 진단 일, CVD_DT 에 첫 진단 일이 기록된 환자의 경우 outcome 이 발생했으므로 1로 처리

In [ ]:
pop['outcome'] = 1*(pop['CVD_DT']!='.')
pop.head()

   PERSON_ID      HTN_DT      CVD_DT  ...  IPSN_TYPE_CD  CTRB_PT_TYPE_CD  outcome
0   10221780  2009-11-05           .  ...             6               10        0
1   10244375  2009-05-06  2011-07-04  ...             1                1        1
2   10257488  2005-11-10           .  ...             1                2        0
3   10258046  2008-12-01           .  ...             6               10        0
4   10259027  2009-10-13           .  ...             2               10        0

[5 rows x 12 columns]

In [ ]:
visit1 = pd.read_csv("./visit1.csv")
display(visit1.head())
print(visit1.shape)

   PERSON_ID       KEY_SEQ  RECU_FR_DT  FORM_CD MAIN_SICK SUB_SICK
0   10257488  200200461377    20020117        3      M478      M17
1   10257488  200200461378    20020118        3      M478      M17
2   10257488  200201013556    20020201        3      M478      M17
3   10257488  200201705482    20020104        3      M069     M810
4   10257488  200201970644    20020206        3      M069     M810

(149665, 6)

In [ ]:
# 제외 :  ['A', 'B', 'C', 'L', 'P', 'V', 'W', 'X', 'Y', 'Z']
visit1.loc[visit1['MAIN_SICK'].str[0:1].isin(['A', 'B', 'C', 'L', 'P', 'V', 'W', 'X', 'Y', 'Z']), 'MAIN_SICK'] = '_'
visit1.loc[visit1['SUB_SICK'].str[0:1].isin(['A', 'B', 'C', 'L', 'P', 'V', 'W', 'X', 'Y', 'Z']), 'SUB_SICK'] = '_'

# 주, 부상병 모두 활용
visit1['SICK1'] = 'SICK_' + visit1['MAIN_SICK'].str[0:2]
visit1['SICK2'] = 'SICK_' + visit1['SUB_SICK'].str[0:2]
visit1.head()

   PERSON_ID       KEY_SEQ  RECU_FR_DT  ...  SUB_SICK    SICK1    SICK2
0   10257488  200200461377    20020117  ...       M17  SICK_M4  SICK_M1
1   10257488  200200461378    20020118  ...       M17  SICK_M4  SICK_M1
2   10257488  200201013556    20020201  ...       M17  SICK_M4  SICK_M1
3   10257488  200201705482    20020104  ...      M810  SICK_M0  SICK_M8
4   10257488  200201970644    20020206  ...      M810  SICK_M0  SICK_M8

[5 rows x 8 columns]

In [ ]:
SICK1 = visit1.groupby('PERSON_ID')['SICK1']
SICK1_CNT = SICK1.value_counts().reset_index(name='counts')

SICK2 = visit1.groupby('PERSON_ID')['SICK2']
SICK2_CNT = SICK2.value_counts(dropna=True).reset_index(name='counts')

display(SICK1_CNT.head())
display(SICK2_CNT.head())

   PERSON_ID    SICK1  counts
0   10257488  SICK_M1      74
1   10257488  SICK_M0       9
2   10257488  SICK_H2       7
3   10257488  SICK_I1       4
4   10257488  SICK_M4       4

   PERSON_ID    SICK2  counts
0   10257488  SICK_K2      25
1   10257488  SICK_I1      24
2   10257488  SICK_M8       9
3   10257488  SICK_E1       4
4   10257488  SICK_H1       3

In [ ]:
SICK_CD = list( set(visit1['SICK1'].dropna()) |  set(visit1['SICK2'].dropna() ) )

print(len(SICK_CD))
print(SICK_CD)

for sick in SICK_CD :
  pop[sick]=0

display(pop.head())
display(pop.shape)

142
['SICK_S8', 'SICK_Q8', 'SICK_T2', 'SICK_G3', 'SICK_D0', 'SICK_R3', 'SICK_J8', 'SICK_N7', 'SICK_S7', 'SICK_Q5', 'SICK_K7', 'SICK_M6', 'SICK_D8', 'SICK_S9', 'SICK_N1', 'SICK_S4', 'SICK_N0', 'SICK_J0', 'SICK_J7', 'SICK_E0', 'SICK_E4', 'SICK_E2', 'SICK_F3', 'SICK_J3', 'SICK_N8', 'SICK_T3', 'SICK_G2', 'SICK_D7', 'SICK_N4', 'SICK_E1', 'SICK_Q2', 'SICK_K1', 'SICK_F4', 'SICK_D5', 'SICK_H8', 'SICK_R6', 'SICK_M5', 'SICK_K5', 'SICK_I9', 'SICK_N2', 'SICK_I6', 'SICK_K6', 'SICK_T9', 'SICK_G6', 'SICK_R8', 'SICK_R1', 'SICK_Q3', 'SICK_O1', 'SICK_SA', 'SICK_H0', 'SICK_M2', 'SICK_G4', 'SICK_I2', 'SICK_M1', 'SICK_M8', 'SICK_U7', 'SICK_G7', 'SICK_G9', 'SICK_H7', 'SICK_O8', 'SICK_D1', 'SICK_G1', 'SICK_Q4', 'SICK_H2', 'SICK_I7', 'SICK_I0', 'SICK_F6', 'SICK_K3', 'SICK_E6', 'SICK_K8', 'SICK_E8', 'SICK_K0', 'SICK_R5', 'SICK_J6', 'SICK_R4', 'SICK_G8', 'SICK_T7', 'SICK__', 'SICK_Q0', 'SICK_F2', 'SICK_D6', 'SICK_I3', 'SICK_N9', 'SICK_F1', 'SICK_T6', 'SICK_O2', 'SICK_F0', 'SICK_D3', 'SICK_M9', 'SICK_I5', 'SICK_E5', 'SICK_M0', 'SICK_K9', 'SICK_M4', 'SICK_F5', 'SICK_Q1', 'SICK_R7', 'SICK_K4', 'SICK_O*', 'SICK_N3', 'SICK_U2', 'SICK_S0', 'SICK_H5', 'SICK_J4', 'SICK_J1', 'SICK_R9', 'SICK_I1', 'SICK_K2', 'SICK_F9', 'SICK_M3', 'SICK_N6', 'SICK_H9', 'SICK_T5', 'SICK_T1', 'SICK_D2', 'SICK_E3', 'SICK_Q7', 'SICK_J9', 'SICK_S1', 'SICK_S3', 'SICK_I4', 'SICK_T0', 'SICK_S5', 'SICK_I8', 'SICK_T8', 'SICK_H6', 'SICK_H1', 'SICK_H3', 'SICK_R0', 'SICK_G0', 'SICK_N5', 'SICK_Q6', 'SICK_H4', 'SICK_G5', 'SICK_S2', 'SICK_M7', 'SICK_D4', 'SICK_R2', 'SICK_J2', 'SICK_E7', 'SICK_D*', 'SICK_S6']

   PERSON_ID      HTN_DT      CVD_DT    BMI  ...  SICK_J2  SICK_E7  SICK_D*  SICK_S6
0   10221780  2009-11-05           .  21.83  ...        0        0        0        0
1   10244375  2009-05-06  2011-07-04  18.81  ...        0        0        0        0
2   10257488  2005-11-10           .  24.00  ...        0        0        0        0
3   10258046  2008-12-01           .  24.06  ...        0        0        0        0
4   10259027  2009-10-13           .  20.41  ...        0        0        0        0

[5 rows x 154 columns]

(2991, 154)

In [ ]:
# 고혈압 발생하기 전의 데이터로..
for i, person in enumerate(pop['PERSON_ID']) : 
  tmp1 = SICK1_CNT[SICK1_CNT['PERSON_ID']==person]
  tmp2 = SICK2_CNT[SICK2_CNT['PERSON_ID']==person]
  pop.loc[i, tmp1['SICK1'].values ] = list(1 * (tmp1['counts'].values > 0 ) ) 
  pop.loc[i, tmp2['SICK2'].values ] = list(1 * (tmp2['counts'].values > 0 ) )

In [ ]:
pop= pop.drop(['SICK__'], axis=1)
pop.head()

   PERSON_ID      HTN_DT      CVD_DT    BMI  ...  SICK_J2  SICK_E7  SICK_D*  SICK_S6
0   10221780  2009-11-05           .  21.83  ...        0        0        0        0
1   10244375  2009-05-06  2011-07-04  18.81  ...        0        0        0        0
2   10257488  2005-11-10           .  24.00  ...        1        1        0        0
3   10258046  2008-12-01           .  24.06  ...        0        0        0        0
4   10259027  2009-10-13           .  20.41  ...        0        0        0        0

[5 rows x 153 columns]

In [ ]:
visit2 = pd.read_csv("./visit2.csv")
visit3 = pd.read_csv("./visit3.csv")

ATC = pd.read_csv("./ATC.csv", engine='python')
ATC2 = ATC.iloc[:,[2,6,7]]
ATC2.columns = ['GNL_NM_CD', 'ATC', 'NAME']

display(visit2.head())
display(ATC2.head())

visit2 = pd.merge(visit2, ATC2, how='left', on='GNL_NM_CD')
visit2.head()
display(visit2.head())

visit3 = pd.merge(visit3, ATC2, how='left', on='GNL_NM_CD')
visit3.head()
display(visit3.head())

   PERSON_ID       KEY_SEQ  RECU_FR_DT    DIV_CD GNL_NM_CD
0   10257488  200200461377    20020117  AA154010       NaN
1   10257488  200200461377    20020117     G7202       NaN
2   10257488  200200461377    20020117     MM080       NaN
3   10257488  200200461377    20020117     MM010       NaN
4   10257488  200200461377    20020117     KK010       NaN

   GNL_NM_CD      ATC             NAME
0  130830ASY  N05CC01  chloral hydrate
1  130832ASY  N05CC01  chloral hydrate
2  130833ASY  N05CC01  chloral hydrate
3  149203ATB  N06AA12          doxepin
4  149203ATB  N06AA12          doxepin

   PERSON_ID       KEY_SEQ  RECU_FR_DT    DIV_CD GNL_NM_CD  ATC NAME
0   10257488  200200461377    20020117  AA154010       NaN  NaN  NaN
1   10257488  200200461377    20020117     G7202       NaN  NaN  NaN
2   10257488  200200461377    20020117     MM080       NaN  NaN  NaN
3   10257488  200200461377    20020117     MM010       NaN  NaN  NaN
4   10257488  200200461377    20020117     KK010       NaN  NaN  NaN

   PERSON_ID  ...                                               NAME
0   10257488  ...                                           diazepam
1   10257488  ...                                           diazepam
2   10257488  ...                                           diazepam
3   10257488  ...  Other antiinflammatory and antirheumatic agent...
4   10257488  ...  Other antiinflammatory and antirheumatic agent...

[5 rows x 6 columns]

In [ ]:
# 약 처치를 제외한 처치 코드
# GNL_NM_CD 가 NaN 인데 DIV_CD 가 기록된 경우
visit2.loc[visit2['GNL_NM_CD'].isna(), 'DIV_CD1'] = 'PROC_' + visit2.loc[visit2['GNL_NM_CD'].isna(), 'DIV_CD'].str[0:2]
display(visit2.head())

DIV_CD = list( set(visit2['DIV_CD1'].dropna() ) )
print(len(DIV_CD))
print(DIV_CD)

for div in DIV_CD :
  pop[DIV_CD]=0

display(pop.head())
display(pop.shape)

   PERSON_ID       KEY_SEQ  RECU_FR_DT    DIV_CD GNL_NM_CD  ATC NAME  DIV_CD1
0   10257488  200200461377    20020117  AA154010       NaN  NaN  NaN  PROC_AA
1   10257488  200200461377    20020117     G7202       NaN  NaN  NaN  PROC_G7
2   10257488  200200461377    20020117     MM080       NaN  NaN  NaN  PROC_MM
3   10257488  200200461377    20020117     MM010       NaN  NaN  NaN  PROC_MM
4   10257488  200200461377    20020117     KK010       NaN  NaN  NaN  PROC_KK

188
['PROC_M3', 'PROC_AD', 'PROC_21', 'PROC_Y1', 'PROC_G8', 'PROC_A3', 'PROC_HF', 'PROC_FA', 'PROC_C5', 'PROC_K4', 'PROC_MM', 'PROC_A4', 'PROC_E2', 'PROC_C8', 'PROC_HG', 'PROC_N1', 'PROC_X5', 'PROC_12', 'PROC_J3', 'PROC_B0', 'PROC_S5', 'PROC_T6', 'PROC_J1', 'PROC_LX', 'PROC_JJ', 'PROC_K8', 'PROC_H3', 'PROC_G9', 'PROC_2', 'PROC_G6', 'PROC_I9', 'PROC_HA', 'PROC_E7', 'PROC_K-', 'PROC_A2', 'PROC_CX', 'PROC_Z4', 'PROC_G5', 'PROC_CY', 'PROC_HB', 'PROC_O1', 'PROC_A7', 'PROC_M6', 'PROC_T0', 'PROC_Z7', 'PROC_J6', 'PROC_L6', 'PROC_FY', 'PROC_I1', 'PROC_S0', 'PROC_Q2', 'PROC_F6', 'PROC_O7', 'PROC_-8', 'PROC_K3', 'PROC_30', 'PROC_11', 'PROC_AJ', 'PROC_Z5', 'PROC_AA', 'PROC_SA', 'PROC_AC', 'PROC_AB', 'PROC_HE', 'PROC_A5', 'PROC_R4', 'PROC_AR', 'PROC_Q3', 'PROC_L1', 'PROC_L0', 'PROC_L9', 'PROC_GB', 'PROC_F0', 'PROC_X6', 'PROC_I0', 'PROC_Q0', 'PROC_HC', 'PROC_Z0', 'PROC_G3', 'PROC_A1', 'PROC_E9', 'PROC_C', 'PROC_M2', 'PROC_BX', 'PROC_L2', 'PROC_MX', 'PROC_AE', 'PROC_C3', 'PROC_AH', 'PROC_K9', 'PROC_S4', 'PROC_+', 'PROC_N7', 'PROC_FX', 'PROC_M0', 'PROC_SC', 'PROC_AK', 'PROC_R3', 'PROC_C4', 'PROC_A6', 'PROC_K7', 'PROC_KK', 'PROC_H0', 'PROC_LA', 'PROC_QA', 'PROC_M9', 'PROC_B5', 'PROC_U2', 'PROC_EX', 'PROC_J2', 'PROC_P2', 'PROC_AF', 'PROC_K6', 'PROC_E0', 'PROC_NN', 'PROC_I2', 'PROC_C6', 'PROC_Z3', 'PROC_W2', 'PROC_O0', 'PROC_X7', 'PROC_76', 'PROC_L4', 'PROC_IO', 'PROC_L7', 'PROC_AN', 'PROC_AS', 'PROC_10', 'PROC_Z2', 'PROC_Z1', 'PROC_W0', 'PROC_Y0', 'PROC_J0', 'PROC_G4', 'PROC_E4', 'PROC_Z8', 'PROC_AL', 'PROC_3', 'PROC_E6', 'PROC_TR', 'PROC_B1', 'PROC_EY', 'PROC_40', 'PROC_J5', 'PROC_G7', 'PROC_SB', 'PROC_B2', 'PROC_20', 'PROC_B4', 'PROC_C7', 'PROC_BY', 'PROC_G1', 'PROC_k2', 'PROC_M5', 'PROC_HD', 'PROC_M1', 'PROC_1', 'PROC_N2', 'PROC_C2', 'PROC_E5', 'PROC_60', 'PROC_G0', 'PROC_C0', 'PROC_G2', 'PROC_N0', 'PROC_L5', 'PROC_Q7', 'PROC_15', 'PROC_B3', 'PROC_L3', 'PROC_K2', 'PROC_D1', 'PROC_D0', 'PROC_K0', 'PROC_HY', 'PROC_00', 'PROC_A0', 'PROC_U0', 'PROC_CZ', 'PROC_X2', 'PROC_02', 'PROC_K5', 'PROC_O2', 'PROC_AU', 'PROC_HZ', 'PROC_J4', 'PROC_P4', 'PROC_U4']

   PERSON_ID      HTN_DT      CVD_DT    BMI  ...  PROC_HZ  PROC_J4  PROC_P4  PROC_U4
0   10221780  2009-11-05           .  21.83  ...        0        0        0        0
1   10244375  2009-05-06  2011-07-04  18.81  ...        0        0        0        0
2   10257488  2005-11-10           .  24.00  ...        0        0        0        0
3   10258046  2008-12-01           .  24.06  ...        0        0        0        0
4   10259027  2009-10-13           .  20.41  ...        0        0        0        0

[5 rows x 341 columns]

(2991, 341)

In [ ]:
DIV = visit2.groupby('PERSON_ID')['DIV_CD1']
DIV_CNT = DIV.value_counts().reset_index(name='counts')
display(DIV_CNT.head())

for i, person in enumerate(pop['PERSON_ID']) : 
  tmp = DIV_CNT[DIV_CNT['PERSON_ID']==person]
  pop.loc[i, tmp['DIV_CD1'].values ] = list(1 * (tmp['counts'].values > 0 ) ) 

# 해석 불가 및 필요 없는 코드 삭제
#pop=pop.drop(['PROC_3', 'PROC_AA', 'PROC_15', 'PROC_10', PROC_AL'], axis=1)
pop.head()

   PERSON_ID  DIV_CD1  counts
0   10257488  PROC_MM     193
1   10257488  PROC_AA     127
2   10257488  PROC_B1      66
3   10257488  PROC_C3      62
4   10257488  PROC_KK      52

   PERSON_ID      HTN_DT      CVD_DT    BMI  ...  PROC_HZ  PROC_J4  PROC_P4  PROC_U4
0   10221780  2009-11-05           .  21.83  ...        0        0        0        0
1   10244375  2009-05-06  2011-07-04  18.81  ...        0        0        0        0
2   10257488  2005-11-10           .  24.00  ...        0        0        0        0
3   10258046  2008-12-01           .  24.06  ...        0        0        0        0
4   10259027  2009-10-13           .  20.41  ...        0        0        0        0

[5 rows x 341 columns]

In [ ]:
# 원내, 원외의 약 처치
visit2['GNL_CD'] = 'DRUG_' + visit2['ATC'].str[0:4]
display(visit2.head())
visit3['GNL_CD'] = 'DRUG_' + visit3['ATC'].str[0:4]
display(visit3.head())

GNL_CD = list( set(visit2['GNL_CD'].dropna()) | set( visit3['GNL_CD'].dropna() ) )
print(len(GNL_CD))
print(GNL_CD)

for gnl in GNL_CD :
  pop[gnl]=0

display(pop.head())
display(pop.shape)

   PERSON_ID       KEY_SEQ  RECU_FR_DT    DIV_CD  ...  ATC NAME  DIV_CD1 GNL_CD
0   10257488  200200461377    20020117  AA154010  ...  NaN  NaN  PROC_AA    NaN
1   10257488  200200461377    20020117     G7202  ...  NaN  NaN  PROC_G7    NaN
2   10257488  200200461377    20020117     MM080  ...  NaN  NaN  PROC_MM    NaN
3   10257488  200200461377    20020117     MM010  ...  NaN  NaN  PROC_MM    NaN
4   10257488  200200461377    20020117     KK010  ...  NaN  NaN  PROC_KK    NaN

[5 rows x 9 columns]

   PERSON_ID  ...     GNL_CD
0   10257488  ...  DRUG_N05B
1   10257488  ...  DRUG_N05B
2   10257488  ...  DRUG_N05B
3   10257488  ...  DRUG_M01A
4   10257488  ...  DRUG_M01A

[5 rows x 7 columns]

161
['DRUG_P01A', 'DRUG_A11H', 'DRUG_C10B', 'DRUG_R03D', 'DRUG_A07A', 'DRUG_N05A', 'DRUG_R03C', 'DRUG_J01M', 'DRUG_J01R', 'DRUG_H01C', 'DRUG_B05X', 'DRUG_N06B', 'DRUG_M03A', 'DRUG_N06A', 'DRUG_C08C', 'DRUG_A09A', 'DRUG_V09B', 'DRUG_C05C', 'DRUG_C01B', 'DRUG_P01B', 'DRUG_N02B', 'DRUG_B05C', 'DRUG_N06D', 'DRUG_V09F', 'DRUG_C08D', 'DRUG_S01E', 'DRUG_A07E', 'DRUG_H03A', 'DRUG_V07A', 'DRUG_D05B', 'DRUG_V10X', 'DRUG_M03C', 'DRUG_A02X', 'DRUG_A16A', 'DRUG_J05A', 'DRUG_H02B', 'DRUG_G02C', 'DRUG_M05B', 'DRUG_G03H', 'DRUG_J01D', 'DRUG_C07A', 'DRUG_A12B', 'DRUG_C03D', 'DRUG_P02B', 'DRUG_J06A', 'DRUG_S01X', 'DRUG_S01L', 'DRUG_N05B', 'DRUG_A03F', 'DRUG_N01A', 'DRUG_J02A', 'DRUG_B05B', 'DRUG_R01B', 'DRUG_G03X', 'DRUG_D01A', 'DRUG_C07B', 'DRUG_B02B', 'DRUG_R05C', 'DRUG_C01A', 'DRUG_M03B', 'DRUG_A11B', 'DRUG_V08C', 'DRUG_H01B', 'DRUG_G04C', 'DRUG_C09C', 'DRUG_G01A', 'DRUG_C05B', 'DRUG_L02A', 'DRUG_A04A', 'DRUG_C09B', 'DRUG_N04A', 'DRUG_N07B', 'DRUG_N04B', 'DRUG_J04A', 'DRUG_L03A', 'DRUG_C03B', 'DRUG_C03E', 'DRUG_A12A', 'DRUG_R01A', 'DRUG_C01C', 'DRUG_A01A', 'DRUG_V09A', 'DRUG_N02C', 'DRUG_J01X', 'DRUG_A05B', 'DRUG_R05D', 'DRUG_V09G', 'DRUG_S01K', 'DRUG_A11E', 'DRUG_G03F', 'DRUG_J06B', 'DRUG_M04A', 'DRUG_M02A', 'DRUG_C01D', 'DRUG_A10B', 'DRUG_C09D', 'DRUG_A05A', 'DRUG_A02A', 'DRUG_N01B', 'DRUG_C03A', 'DRUG_V04C', 'DRUG_M01A', 'DRUG_A02B', 'DRUG_J01C', 'DRUG_C03C', 'DRUG_C02C', 'DRUG_J01E', 'DRUG_A07D', 'DRUG_D10B', 'DRUG_R03A', 'DRUG_C02D', 'DRUG_-', 'DRUG_R06A', 'DRUG_B05Z', 'DRUG_V09I', 'DRUG_A11G', 'DRUG_R05F', 'DRUG_G03C', 'DRUG_B01A', 'DRUG_A11C', 'DRUG_A03A', 'DRUG_J01F', 'DRUG_V09C', 'DRUG_D11A', 'DRUG_R03B', 'DRUG_V03A', 'DRUG_J01A', 'DRUG_L01B', 'DRUG_N05C', 'DRUG_A07F', 'DRUG_H02A', 'DRUG_C04A', 'DRUG_H03B', 'DRUG_R05', 'DRUG_M09A', 'DRUG_V08B', 'DRUG_B03B', 'DRUG_B02A', 'DRUG_G04B', 'DRUG_B05A', 'DRUG_G03D', 'DRUG_A11D', 'DRUG_L02B', 'DRUG_M01C', 'DRUG_N02A', 'DRUG_G03G', 'DRUG_C10A', 'DRUG_J01G', 'DRUG_A03C', 'DRUG_C07C', 'DRUG_L01D', 'DRUG_B03A', 'DRUG_N07C', 'DRUG_L04A', 'DRUG_C09A', 'DRUG_A06A', 'DRUG_D08A', 'DRUG_C01E', 'DRUG_N07A', 'DRUG_A03B', 'DRUG_N03A']

   PERSON_ID      HTN_DT      CVD_DT  ...  DRUG_N07A  DRUG_A03B  DRUG_N03A
0   10221780  2009-11-05           .  ...          0          0          0
1   10244375  2009-05-06  2011-07-04  ...          0          0          0
2   10257488  2005-11-10           .  ...          0          0          0
3   10258046  2008-12-01           .  ...          0          0          0
4   10259027  2009-10-13           .  ...          0          0          0

[5 rows x 502 columns]

(2991, 502)

In [ ]:
GNL1 = visit2.groupby('PERSON_ID')['GNL_CD']
GNL2 = visit3.groupby('PERSON_ID')['GNL_CD']

GNL_CNT1 = GNL1.value_counts().reset_index(name='counts')
GNL_CNT2 = GNL2.value_counts().reset_index(name='counts')

for i, person in enumerate(pop['PERSON_ID']) : 
  tmp1 = GNL_CNT1[GNL_CNT1['PERSON_ID']==person]
  tmp2 = GNL_CNT2[GNL_CNT2['PERSON_ID']==person]

  pop.loc[i, tmp1['GNL_CD'].values ] = list(1 * (tmp1['counts'].values > 0 ) ) 
  pop.loc[i, tmp2['GNL_CD'].values ] = list(1 * (tmp2['counts'].values > 0 ) ) 
  
pop = pop.drop(['DRUG_-'], axis=1)
pop.head()

   PERSON_ID      HTN_DT      CVD_DT  ...  DRUG_N07A  DRUG_A03B  DRUG_N03A
0   10221780  2009-11-05           .  ...          0          0          0
1   10244375  2009-05-06  2011-07-04  ...          0          0          0
2   10257488  2005-11-10           .  ...          0          0          0
3   10258046  2008-12-01           .  ...          0          0          0
4   10259027  2009-10-13           .  ...          0          0          0

[5 rows x 501 columns]

## 최종 분석에 사용할 Dataset pop

In [ ]:
display(pop.head())
pop.to_csv("./ANALYSIS_DATASET_FINAL0613.csv", index=False)

   PERSON_ID      HTN_DT      CVD_DT  ...  DRUG_N07A  DRUG_A03B  DRUG_N03A
0   10221780  2009-11-05           .  ...          0          0          0
1   10244375  2009-05-06  2011-07-04  ...          0          0          0
2   10257488  2005-11-10           .  ...          0          0          0
3   10258046  2008-12-01           .  ...          0          0          0
4   10259027  2009-10-13           .  ...          0          0          0

[5 rows x 501 columns]